.jumbotron {
  padding-top: 8rem;
  background-color: #e2edff;
}

#project {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

.social-media {
  display: flex;
}

.social-media a {
  margin-right: 13px;
}

.social-media img {
  width: 25px; /* Sesuaikan dengan lebar ikon sosial media yang Anda miliki */
}
